a{
    text-decoration: none;
}

.custom-toggler.navbar-toggler {
    border-color: #47a992;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(71, 169, 146)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.btnBahasa .btn.btn-light, .btnSetting .btn.btn-light:active {
    margin-right: 20px;
    border-width: 2px;
    border-color: #47a992;
    background-color: transparent;
}

.btn-group .btnBahasa .dropdown-menu {
    min-width: auto;
    height: 50px;
    border-width: 2px;
    border-color: #47a992;
}

.btnSetting .btn.btn-light:active, .btnSetting .btn.btn-light:hover {
    background-color: transparent;
    box-shadow: none;
    border-color: transparent;
}
