.ikon{
    margin-top: 5px;
    margin-right: 5px;
}

.fa-repeat{
    position: relative;
    transform: translateX(50px);
    margin-top: 3px;
}

.fa-calendar{
    position: relative;
    transform: translateX(-20px);
    margin-top: 3px;
}