*{
    box-sizing: border-box;
}

.crsl{
    min-height: 700px;
    display: flex;
}

.crslItem{
    object-fit: cover;
    width: 100%;
    height: 600px;
}

.crsl1{
    transform: translateY(-450px);
    filter: brightness(50%);
}

.card-body-right{
    text-align: left;
    padding: 10%;
    position: relative;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translateY(-50%);
    padding: 0 0.5rem;
}

.card-body-left{
    text-align: right;
    padding: 10%;
    position: relative;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translateY(-50%);
    padding: 0 0.5rem;
}

.card-text{
    text-align: justify;
}

.card-img{
    height: auto;
    width: 100%;
    border-radius: 5px;
}

.card{
    margin: auto;
}

.cardFitur{
    margin: auto;
    align-items: center;
    text-align: center;
    padding: 50px;
}
