*{
    box-sizing: border-box;
}

.crsl{
    height: 700px;
    display: flex;
    flex: wrap;
}

.crslItem{
    width: 100%;
    height: 600px;
}

.crsl1{
    transform: translateY(-450px);
    filter : brightness(55%);
}

.teksFitur{
    margin: auto; /* Mengatur elemen-elemen secara vertikal */
    align-items: center; /* Mengatur elemen-elemen secara horizontal di tengah */
    text-align: center;
}

.fitur{
    margin: auto; /* Mengatur elemen-elemen secara vertikal */
    align-items: center; /* Mengatur elemen-elemen secara horizontal di tengah */
    text-align: center;
    padding: 50px;
}


.card-img-top{
    width: 100%;
    height: auto;
    border-radius: 5px;

}

.letakdeskripsi {
    display: flex;
    flex-direction: column;
    margin: 20px;
    justify-content: center;
    text-align: left;
}

.pengemudi{
    display: flex;
}

.pengemudipic{
    width: 35%;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.pengemudideskripsi{
    display: flex;
    flex-direction: column;
    margin: 20px;
    justify-content: center;
    text-align: right;
}

.card{
    margin: auto;
    border-color: white;
}

.fiturSamping{
    position: relative;
    margin: 0 auto;
    padding: 0 0.5rem;
}

.cardSamping1{
    position: relative;
    margin: 0 auto;
    padding: 0 0.5rem;
}

.cardSamping2{
    position: relative;
    margin: 0 auto;
    padding: 0 0.5rem;
}

.card-body-right{
    text-align: left;
    padding: 10%;
    position: relative;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translateY(-50%);
    padding: 0 0.5rem;
}

.card-body-left{
    text-align: right;
    padding: 10%;
    position: relative;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translateY(-50%);
    padding: 0 0.5rem;
}

@media screen and (max-width: 768px) {
    .fiturSamping {
      flex-direction: column;
    }

    .cardSamping {
      width: 100%;
      margin-top: 15px;
    }
  }
