body{
    background: #eee;
    font-family: 'Poppins', sans-serif;
}

#side-nav{
    background: #47a992;
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s ease-in-out;
}


.content{
    min-height: 100vh;
    width: 100%;
}

hr.h-color{
    background: #eee;
}

.sidebar li.active{
    background: #eee;
    border-radius: 8px;
}

.sidebar li.active a, .sidebar li.active a:hover{
    color: #000;
}

.sidebar li a{
    color: #fff;
}

.sidebar img.rounded-circle{
    margin-bottom: 20px;

}

.hovList :hover{
    background-color: #eeee;
    border-radius: 5px;
    color: #000;
}

.list-unstyled{
    margin-top: 50px;
}
